
import(dexter)

import(shiny, except = c('renderDataTable', 'dataTableOutput'))
#importFrom(shinyBS, 'bsTooltip')

importFrom(shinyjs, 'useShinyjs', 'runjs', 'show', 'hide', 'hidden','reset','toggle')
importFrom(DT, 'renderDataTable', 'dataTableOutput', 'JS', 'datatable', 'tableHeader', 'tableFooter', 'dataTableProxy', 'replaceData')
importFrom(shinyFiles, 'parseSavePath', 'parseFilePaths', 'shinySaveButton', 
                        'shinyFilesButton', 'shinyFileChoose', 'shinyFileSave', 'getVolumes')
importFrom(htmltools, 'tagAppendAttributes', 'attachDependencies', 'htmlEscape','tagGetAttribute')
importFrom(jsonlite, 'toJSON', 'unbox')
importFrom(DBI, 'dbGetQuery', 'dbListFields', 'dbExecute', 'dbExistsTable')
import(dplyr)
importFrom(tidyr, 'pivot_longer','pivot_wider')
importFrom(readxl, 'read_excel')

importFrom(writexl, 'write_xlsx')

importFrom(survey,'svymean','svydesign','svyby')

importFrom(RCurl, 'base64Encode')
importFrom(rlang,'caller_env','.data', ':=','new_environment','.env')

importFrom(grDevices, 'dev.off', 'png','boxplot.stats')
importFrom(graphics, 'par', 'plot', 'boxplot', 'hist','axis','layout','barplot','mtext','lines')
importFrom(methods, 'new')
importFrom(utils, 'help', 'vignette', 'modifyList', 'write.csv2', 'read.csv','unzip','data','packageVersion','install.packages')
importFrom(stats, 'weighted.mean','coef','density','as.formula', 'qnorm', 'reorder', 'sd', 'smooth.spline', 'var','approx','ecdf')
importFrom(tools, 'file_ext')
import(ggplot2)
importFrom(networkD3, 'forceNetworkOutput', 'igraph_to_networkD3', 'forceNetwork', 'renderForceNetwork')
importFrom(Cairo, 'Cairo')


export(dextergui)

