
body{
	padding-top:70px;
}
div.navbar-header{
  width:0;
  height:0;
  overflow:hidden;
}
@media only screen and (max-width: 768px) {
  /*allow for stacked navbar*/
  body{padding-top:258px;}
}

#app_quit, #full_screen{ cursor:pointer;}

#project_load_icon{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:200;
	background-color: rgba(255,255,255,.8);
}

#project_load_icon h1{
	font-weight:bold;
	width:200px;
	text-align:center;
	position:fixed;
	left:calc(50% - 100px);
	bottom:calc(50% + 100px);
	color:#3498db;
}

#project_load_icon .loader {
  position:fixed;
  top:calc(50% - 75px);
  left:calc(50% - 75px);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-err > div{
	white-space:normal;
}

#item_viewer iframe{
	width:100%;
	height:12em;
}


div.dt-add-col{
	display:inline-block;
	position:relative;
	width:0px;
}

.dt-add-col>a{
	color: #777;
	right:-4px;
	bottom:-4.5ex;
	position:relative;
	cursor:pointer;	
	padding:7px;
	z-index:10;
	border-style:solid;
	border-color:transparent;	
	border-width: 1px; 
	border-top-left-radius:3px;
	border-top-right-radius:3px;	
}



.dt-add-col a.dlg-open{
	border-color:rgba(0,0,0,.125);
	border-bottom-color:white;
	background-color:white;
}


.dt-add-col>a:hover{
	text-decoration:none;
}
.dt-add-col>a .glyphicon{
	display:inline;
}

div.dt-add-col-dialog{
	position:absolute;
	top:8ex;
	right:-34px;
	z-index:9;
	padding:5px;
	user-select: none;
}
div.dt-add-col-dialog input, div.dt-add-col-dialog select{
	width:14em;
	margin-left:0.5em;

}
div.dt-add-col-dialog td{
	text-align:left;
	padding:1px;
	white-space:nowrap;
}
div.dt-add-col-dialog a{
	margin-left:1ex;
}


#example_datasets .card{
	margin: 10px;
	max-width: 440px;
	display:inline-block;
	cursor:pointer;
	vertical-align:top;
}
#example_datasets .card:hover{
	background-color:#e6e6e6;
}

div.help-page-outer{
  max-height:calc(100vh - 75px);
  overflow-y:auto;
}

div.help-page{
  width:70%;
  margin: auto;
  max-width:60em;
}

#col-ctt-item{
  max-height:calc(100vh - 10em);
  overflow-y:auto;
}

.collapsed .collapsed-invis{
  display:none;
}
.collapsed .collapsed-vis{
  display: inherit;
}
.collapsed-vis{
  display:none;
}

.inpuList table{
	width:100%;
}

.inputList td:first-child{
	padding-right:5px;
	font-weight:bold;
	white-space:nowrap;
}
.inputList td:nth-child(2){
	width:99%;
}

.inputList p:first-child{
	margin-bottom:1ex;
}
.inputList input{
	margin:1px;
	padding:1px;
	border-color:transparent;	
	width:100%;
}

.inputList input:hover:not(:focus){
	outline: 1px solid lightblue;
	outline: -webkit-focus-ring-color auto 1px;
}




#TOC{
  position:absolute;
  max-width:13%;
  left:1%;
  top:8em;
  border: 1px solid gray;
  padding:5px;
  padding-left:0px;
  border-radius:5px;
}
#TOC a{
  text-decoration:none;
  color:black;
  padding:2px;
}
#TOC ul{
  list-style:none;
  padding-left:2ex;
}
#TOC a:hover{
  background-color:seashell;
}

@media only screen and (max-width: 60em)
{
  #TOC{display:none;}
}


.help-page table th, table.min-table th{
  padding:5px;
  border-bottom: 1px solid gray;
}
.help-page table, table.min-table{
  border-bottom: 1px solid gray;
  margin:0.5em;
}

.help-page td, table.min-table td{
  padding-left:5px;
  padding-right:5px;
}

.well{
  background:none !important;
}
.shiny-text-output{
  background: none !important;
}

.form-control[readonly]{
  background-color:#f8f8f8 !important;
}

div.full_download_buttons{
  height:0;
  overflow:hidden;
}

.dropdown .dt-button:not(.fa){
  padding: 4px !important;
}

.dataTable tfoot td{
	vertical-align:top;
}

.dataTable tfoot td{	
	border-bottom:1px solid black;
	padding:0 !important;
}
.dataTable tfoot td>div{
	position:relative;
	cursor:default;
	font-size:smaller;
}

.dataTable tfoot td div.sparkhist, .dataTable tfoot td div.sparkdensity{
	position:absolute;
	right:0;
	bottom:0;

}



.dataTable tfoot td>div>div{
	white-space:nowrap;
	position:relative;
	margin-top:1px;
	padding: 0 0 0 4px;
}
.dataTable tfoot td.dt-right>div>div {padding: 0 4px 0 0;}


.dataTable tfoot td>div>div>div{
	height:100%;
	top:0;
	left:0;
	z-index:-1;
	overflow:visible;
	background-color:lightgray;	
	text-align:left;	
	position:absolute;
	border-radius: 0px 2px 2px 0px;
	
}

.dataTable tfoot td.dt-right>div>div>div{
	text-align:right;
	left:auto;
	right:0;
	border-radius: 2px 0px 0px 2px;	
}

.dataTable tfoot td>div>div:first-child{
	margin-top:3px;
}
.dataTable tfoot td>div>div:last-child{
	margin-bottom:3px;
}

div.dataTables_scrollFoot tfoot tr td{
border-left:1px solid #efecec;
}

tfoot.dt-footer-plots tr:first-child{
	min-height:100px;
}


input.dt-editor-field{
	border:none;
	outline: 1px solid lightblue;
	outline: -webkit-focus-ring-color auto 5px;
	padding:1px;
	margin-top:-2px;
	margin-bottom:-2px;
}


div.shiny-input-container-inline{
  margin-bottom:0;
  display:inline-block;
}

.shiny-input-container-inline div.selectize-control{
  margin-bottom:0;
}

.btn-loading-container {
  margin-left: 10px;
  font-size: 1.2em;
}
.btn-done-indicator {
  color: green;
}
.btn-err {
  margin-top: 10px;
  color: red;
}

.datatables .dropdown a:first-child{
  float:left;
}

.dropdown .dt-buttons button{
  border:1px solid #ddd;
  border-radius:2px;
  background:white;
  padding:5px;
  text-align:center;
  width:2.5em;
  height:30px; 
  vertical-align: bottom;
}

.dropdown .dt-buttons button.fa{
  font-size: 16px;
  padding: 1px;
}



.dropdown div.dt-buttons{
  display: inline-block;
  float: none;
  margin-left: 1em;
  margin-right:2em;
  margin-top:1em;
  margin-bottom:3px;
  white-space:nowrap;
}

.dropdown div.dt-buttons .scope{
  font-style: italic;
  width:100px;
  margin-right:-100px;
  position:relative;
  top:-34px;
  display:inline-block;
}

.datatables div.dropdown{
  float:left;
  margin-right:1em;
}

div.img-select{
  overflow-x: auto;
}
.img-select img{
  margin: 4px;
  padding: 2px;
}

.img-select .disabled img{
  cursor:not-allowed;
  opacity: 0.5;
}

.img-select img.active{
  border: 1px solid black;
  border-radius: 2px;
}

div.img-select-scrollbody{
  white-space:nowrap;
}

div.img-select-grouping{
 /* border:1px solid #ddd; */
  background-color:#fff;
  display:inline-block;
  padding:2px;
  border-radius: 4px 4px 0 0;
  padding-left:1em;
  padding-right:1em;
}

div.img-select-grouping > div{
/*  text-align:center; */
  padding-top:5px;
  padding-bottom:2px;
}
div.img-select-grouping > div:empty{
  display:none;
}

div.img-select-grouping.active{
  border-bottom-color:transparent;
}
div.img-select-grouping:not(.active){
  border-color:transparent;
  border-bottom-color:#ddd;
  opacity:0.5;
}

td.numeric, td.dec-1, td.dec-2, td.dec-3{
  text-align:right;
}

.jqstooltip {
  width: auto !important;
  height: auto !important;
}

#rules, #item_properties, #person_properties{

  padding:1em;
}

.project-buttons{
  border-bottom: 1px solid #ddd;
  padding:2px;
  position:relative;
  top:-20px;
  left:-14px;
}

.project-buttons button{
  display:inline-block;
  font-size: 14px;
  border:none;
}

#oplm_dat td { 
  border:none;
  padding: 1px;  
}
#oplm_dat th{
	padding-left:2px;
	padding-right:2px;
}

#oplm_dat td:not(:first-child){
	border-left: 1px solid gray;	
}

#oplm_dat tbody{
  font-family:monospace;
  font-size: 9pt;
}


#design_plot{	background:white;}

/* *** some extra datatable styling *** */

div.dataTables_scroll + div.dataTables_length {
  padding-top: 11px;
}

.dataTable tbody td{
  white-space:nowrap;
}

div.dataTables_paginate a.previous.disabled,
div.dataTables_paginate a.previous.disabled + span + a.next.disabled,
div.dataTables_paginate > span a:first-child:last-child
{
  visibility: hidden;
}

div.shiny-input-container-inline ~ button.inline{
  vertical-align: text-bottom;
  margin-bottom: 3px;
}

button.inline{
  margin-bottom:0px;
  vertical-align:bottom;
}


/* custom alert */
.alert-light{
    border: 1px solid lightgray;
}




/************* BOOTSTRAP (FUTURE) ***************/
.col-side-left {
	padding-left:2em;
	padding-right:2em;
	border-right: 1px solid #ccc;	
}
.col-side-left + div{
    border-left: 1px solid #ccc;
    margin-left: -1px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-align:center;
}

.border-primary {
    border-color: #007bff!important;
}

/*  end bootstrap future  */

/************** PREDICATE HELPER ***************/

span.pr-helper-button{
	vertical-align:top;
	color: #555;
	font-size:120%;
	margin:4px;
	padding:3px;
}
span.pr-helper-button:hover{
	border: 1px solid #ccc;
	border-radius:2px;
	margin:3px;
	
}

div.pred_helper.card{
  z-index:100;
  border: 1px solid gray;
  padding:5px;
  box-shadow:5px 5px 10px lightslategray;
  position: absolute;
  left:0;
  white-space:normal;
}

.pred_helper input, .pred_lines select, .pred_lines button
{
  height:25px;
  line-height:1.5;
  font-size: 12px;
  border-radius:2px;
}
.pred_lines input{border: 1px solid #ccc;padding-left:3px;}

div.pred_helper th, div.pred_helper td{
  text-align:center;
  padding:3px;
}


tr:first-child:last-child .btn_remove_row{ visibility: hidden;}


.pred_helper td{vertical-align:top;white-space:nowrap;}

.pred_helper tbody tr:first-child td:first-child select,
.pred_helper tr.group-member td:first-child select,
.pred_helper tr.group-end td:first-child select,
.pred_helper tr.group-member td:nth-child(2) select,
.pred_helper tr.group-end td:nth-child(2) select
{
  visibility:hidden;
}
.pred_helper tr:not(.group-member):not(.group-end) td:last-child button:last-child{
	display:none;
}

.pred_helper td:last-child{
	text-align:left;
}


.pred_helper tr.odd{
  background: #ece6e6;
}

input.invalid, select.invalid, textarea.invalid
{
  border-color: #dc3545;
}


.invalid-feedback{
    display:none;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

input.invalid + .invalid-feedback,
select.invalid + .invalid-feedback,
textarea.invalid + .invalid-feedback {
  display: block;
}

/*  end predicate helper  */


a.plot-save-btn{
	position:absolute;
	top: 2%;
	right: 2%;
	color: #777;
	z-index:200;	
	text-decoration:none;
}
a.plot-save-btn span{
	padding: 4px;
	border: 1px solid transparent; 
}

a.plot-save-btn:hover span{
	color:black;
	border: 1px solid #777;    
    border-radius: 3px;
}


/************** PLOT SLIDER ***************/


div.plot_slider.uninitialized .glyphicon{ 
  visibility: hidden;
}


div.plot_slider
{
  margin:auto;
}

div.plot_slider > div:first-child
{
  height:79%;
  position:relative;
}

div.plot_slider .img_nav
{
  position:absolute;
  width:20%;
  height:100%;
  cursor:pointer;
  z-index:150;
}

div.plot_slider .plot_left{ left:0;height:100%;top:0;}
div.plot_slider .plot_right{ right:0;height:100%;top:0;}

div.plot_slider div.slide_right
{
  float:right;
  width:20px;
  height:100%;
}

div.plot_slider div.slide_left
{
  float:left;
  width:20px;
  height:100%;
}

div.plot_slider div.thumbs{
  width:100%;
  height:19%;
  position:relative;
}

div.plot_slider div.slidearea
{
  float:left;
  position:relative;
  width: calc(100% - 50px) ;
  height:100%;
  overflow:hidden;
}

div.plot_slider div.slider
{
  position:absolute;
  left:0;
  height: 100%;
  white-space: nowrap;
}

div.plot_slider div.slider img{
  margin-left:8px;
  height:calc(100% - 4px);
  margin-top:2px;
}

div.plot_slider img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

img.plot_active{
  outline: 1px solid black;
  outline-offset: 1px;
}

/* end plot slider */


div.select_slider .img_nav
{
  position:absolute;
  width:20%;
  height:100%;
  cursor:pointer;
  z-index:150;
}

div.select_slider div.slide_right
{
  float:right;
  width:20px;
  height:100%;
}

div.select_slider div.slide_left
{
  float:left;
  width:20px;
  height:100%;
}

div.select_slider div.thumbs{
  width:100%;
  height:100%;
  position:relative;
}

div.select_slider div.slidearea
{
  float:left;
  position:relative;
  width: calc(100% - 50px) ;
  height:100%;
  overflow:hidden;
}

div.select_slider div.slider
{
  position:absolute;
  left:0;
  height: 100%;
  white-space: nowrap;
}

div.select_slider div.slider img{
  margin-left:8px;
  height:calc(100% - 4px);
  margin-top:2px;
}

div.select_slider img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


